@using EntityLayer.Concrete;
@model Thread

@{
    if (Model != null)
    {
        ViewData["Title"] = Model.Title;
        <article>
            <div class="col-md-12">
                <h2>@Model.Title</h2>
                <p class="lead" style="white-space: pre-line">@Model.Content</p>
                <div class="h5 text-muted"> @Model.CreatedAt.ToString("F")</div>
            </div>
        </article>
    }
    else
    {
        <article>
            <div class="col-md-12">
                <h2>Thread Not Found</h2>
            </div>
        </article>
    }


}
