@using EntityLayer.Concrete;
@using DTOLayer.ResDTO;
@model ThreadResDto;

@{
    if (Model != null)
    {
        ViewData["Title"] = Model.Thread.Title;
        <article>
            <div class="col-md-12">
                <h2>@Model.Thread.Title</h2>
                <p class="lead" style="white-space: pre-line">@Model.Thread.Content</p>
                <div class="h5 text-muted"> @Model.Thread.CreatedAt.ToString("F")</div>
            </div>
        </article>
        <button type="button" class="btn">Yorumlar (@Model.NumOfComments)</button>
    }
    else
    {
        <article>
            <div class="col-md-12">
                <h2>Thread Not Found</h2>
            </div>
        </article>
    }


}
