@using EntityLayer.Concrete;
@model List<Thread>
@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container">
    <div class="row">
        @foreach (var thread in Model)
        {
            @await Html.PartialAsync("_BlogPartial", thread)
        }
    </div>

</div>

<style>
    .text-truncate-multiline {
        -webkit-line-clamp: 4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>
