@using DTOLayer.ReqDTO;
@model LogInReqDTO
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h2>Log In</h2>
@using (Html.BeginForm("LogIn", "Auth", FormMethod.Post))
{
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        @Html.TextBoxFor(x=> x.Email, new {@class = "form-control"})
        @Html.ValidationMessageFor(x=> x.Email, "", new {@class = "text-danger"})
    </div>

    <div class="mb-3 ">
        <label for="password" class="form-label">Password</label>
        @Html.TextBoxFor(x=> x.Password, new {@class = "form-control"})
        @Html.ValidationMessageFor(x=> x.Password, "", new {@class = "text-danger"})
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>

}
