@using DTOLayer.ReqDTO;
@model LogInReqDTO
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h2>Log In</h2>
<form asp-action="LogIn" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="Email" asp-for="Email" required>
        <div class="invalid-feedback">
            Please provide a valid email address.
        </div>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="Password" asp-for="Password" required>
        <div class="invalid-feedback">
            Please provide a valid password (at least 8 characters).
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Log in</button>
</form>

